<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css-links -->
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
    <!-- contenido-principal -->
  <header>
        <div class="text-dark">
        <h1  class="display-4" id="h1-lay">SISTEMA DE ACCESO AL PLANTEL</h1>
        </div> 
        <div class="p-3 mb-2 bg-primary text-white">
        <h2 id="h2-lay">REGISTRA TU VISITA</h2>
        </div>
  </header>
    {% block content %} 
    <!-- contenido-principal -->

     
    <!-- bloque-final-footer -->
    {% endblock %} 
    <footer id="footer" class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
       <!-- Copyright -->
        <!--  -->
         <section class="img-logo-footer" style="display: flex; justify-content: center; align-items: center; padding: 1% 5% 5px 10%;">
          <img style="width: 30px;" src="https://unidegleon.files.wordpress.com/2020/01/logo-sabes.png" alt="logo-universidad">
         </section>
         <div class="text-white mb-3 mb-md-0 d-flex justify-content-center align-items-center">
          UNIDEG San Felipe TI © 2023. All rights reserved.
         </div>
        <!-- Copyright -->
    <!-- bloque-final-footer -->         
    </footer>
</body>
</html>